.slider-block[data-v-e0e3a37e]{display:flex;align-items:center;width:100%;gap:10px}.slider-label[data-v-e0e3a37e]{font-size:12px;color:#86909c;white-space:nowrap}.arco-slider[data-v-e0e3a37e]{flex:1}
